ARC_RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=
MIN_STAKE_USDC=0.1
VITE_PREDICTION_MARKET_ADDRESS=
VITE_PREDICTION_MARKET_START_BLOCK=43295581
VITE_AURA_INDEXER_URL=http://127.0.0.1:8787
VITE_WALLETCONNECT_PROJECT_ID=
AURA_INDEXER_PORT=8787
AURA_INDEXER_HOST=127.0.0.1
AURA_INDEXER_START_BLOCK=0
AURA_INDEXER_CHUNK_SIZE=9000
